@page "/characterclasslist"
@inject HttpClient _httpClient

<h3>Classes</h3>

<MudTable Items="@_characterClasses" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Hit points per level</MudTh>
        <MudTh>Attack bonus per level</MudTh>
        <MudTh>Features</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Hit points per level">@context.HitPointsPerLevel</MudTd>
        <MudTd DataLabel="Attack bonus per level">@context.AttackBonusPerLevel</MudTd>
        <MudTd DataLabel="Features">@context.Features</MudTd>
    </RowTemplate>
</MudTable>